<h2>ng-directives app</h2>

<hr/>
<h3>attribute directive</h3>
<ul *ngFor="let num of [1,2,3]">
  <li appColorElement [id]='num'>element {{num}}</li>
</ul>

<br/>
<div appColorElement #colEl="colorDir">element</div>
<br/>
<button (click)="colEl.changeColor()">Update Color</button>

<hr/>
<h3>structural directive</h3>
<ul *ngFor="let num of [1,2,3]">
  <li *appDelayElement='num'>element {{num}}</li>
</ul>

<ul *ngFor="let num of [4,5,6]">
  <ng-template [appDelayElement]='num'> 
    <li>element {{num}}</li>
  </ng-template>
</ul>
